.loginCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1.6rem;
    padding: 2rem 4rem;
    max-width: 52rem;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginHeading {
    margin: 1rem 0;
    font-size: 3rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    width: 100%;
}

.loginButton {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    background-color: #000000;
    color: #ffffff;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: #ff5c33;
    }
}

.loginInput {
    font-size: 1.4rem;
}

.loginLabels {
    font-size: 1.4rem;
    background: #ffffff;
}

.showPasswordIcon {
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
}

.anchorsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchors {
    color: #000000;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
